* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: url(/imagens/banner.jpg) no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: transparent;
  min-height: 60px;
  min-width: 160px;
  width: 100%;
}

a {
  text-decoration: none;
}

p {
  text-align: justify;
  font-size: 26px;
  margin-bottom: 20px;
}

ul {
  position: absolute;
  top: 120px;
  width: 100%;
  height: 130px;
}

img {
  width: 35px;
}

input[type="checkbox"] {
  display: none;
}

nav {
  background-color: rgb(255, 255, 255);
  width: 150px;
  top: 0; /* Alterado para 0 */
  bottom: 0; /* Adicionado para estender até o final da página */
  position: fixed; /* Alterado para fixed */
  transition: all 1s;
  float: left;
  left: -350px;
}



input[type="checkbox"]:checked ~ nav {
  transform: translate(350px);
}

aside {
  background-color: #f7f707;
  height: 500px;
  width: 150px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 0px;
  margin-bottom: 15px;
  float: right;
}

a {
  font-size: 35px;
  display: block;
  padding: 20px 20px;
  color: rgb(78, 115, 234);
}

a:hover {
  background-color: rgb(100, 104, 108);
  color: rgb(47, 43, 43);
}

label {
  font-size: 55px;
  color: #fff;
  padding: 15px;
  position: absolute;
  z-index: 1;
  background-color: transparent;
}

label:hover {
  color: rgb(100, 104, 108);
}

footer {
  border-top: 1px solid #333;
  background-color: transparent;
  text-align: right;
  color: azure;
  bottom: 0;
  left: 0;
  height: 9px;
  position: fixed;
  width: 100%;
  padding: 40px;
  border: none;
}

section {
  background-color: transparent;
  height: 800px;
  width: 100%;
  margin-top: 15px;
  margin-left: 210px;
  margin-right: 0px;
  margin-bottom: 15px;
  float: left;
}

.card-black {
  width: 100%;
  max-height: 500px;
  height: 100%;
  margin-bottom: 1px;
  margin-bottom: 20px;
  float: left;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: 10px 2px 2px rgba(0, 0, 0, 0.5);
}

.card-black .img-box {
  position: relative;
  width: 25%;
  height: 20%;
  transition: 0.5s;
  float: left;
}

.card-black .img-box img {
  width: 100%;
  transition: 0.5s;
  transform: scale(1);
  border-radius: 100px 100px 100px 100px;
}

.card-black:hover {
  background-color: transparent;
}

.card-black:hover .img-box img {
  transform: scale(1.1);
  opacity: 0.6;
}

.card-black .desc {
  position: relative;
  width: 70%;
  height: auto;
  transition: 0.5s;
  padding: 0px 20px;
  text-align: center;
  z-index: 1;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), transparent);
  color: #fff;
  float: right;
  padding-left: 30px;
}

.card-black .desc h4 {
  font-size: 1.7em;
  color: #fff;
  font-family: 'open_sansbold';
  margin-bottom: 5px;
}

.card-black .desc p {
  font-size: 24px;
  color: #fff;
  font-family: 'open_sansregular';
  text-align: justify;
  justify-content: center;
}

.card-black .desc .veja {
  font-size: 1em;
  color: #6c1717;
  text-decoration: none;
  font-family: 'open_sansregular';
  transition: 0.5s;
}

.card-black .desc .veja:hover {
  color: #ffffff;
  text-decoration: underline;
}

.card-black .desc ul {
  display: flex;
  margin-top: 20px;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.card-black .desc ul li {
  list-style: none;
  margin-right: 7px;
}

.card-black .desc ul li a {
  color: #ffffff;
  background-color: #7f2828;
  border-radius: 50px;
  display: block;
  width: 35px;
  height: 35px;
  line-height: 40px;
  font-size: 1em;
  text-decoration: none;
  transition: 0.6s;
}

.card-black .desc ul li a:hover {
  background-color: #ffffff;
  color: #0502ce;
}

button {
  border: none;
  color: #fff;
  background: transparent;
  padding: 20px;
  margin: 20px;
}

audio {
  margin: 20px;
  padding: 20px;
  bottom: 0;
  
  position: fixed;
  left: 20px;
}


@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }

  header {
    min-height: 50px;
  }

  ul {
    top: 100px;
    height: auto;
    padding: 10px;
  }

  aside {
    height: 300px;
    width: 100%;
    margin: 10px 0;
  }

  a {
    font-size: 20px;
    padding: 10px;
  }

  section {
    margin-left: 10px;
    margin-top: 0;
  }

  .card-black .img-box img {
    border-radius: 10px;
  }

  .card-black .desc {
    margin-bottom: 10px;
  }

  .card-black h2 {
    font-size: 28px;
  }
}

h1{
  font-family: 'Arial', sans-serif;
  font-size: 48px;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #3b94c7, 0 0 40px #60b2e1,
   0 0 50px #51a8dd, 0 0 60px #ff00de, 0 0 70px #ff00de;


}
